modules = ["python-3.12", "bash"]
run = "uvicorn main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-24_05"
packages = ["cacert", "gdb", "gitFull", "glibcLocales", "libffi", "libuv", "libxcrypt", "pkg-config", "portaudio", "vim", "xsimd", "zeromq", "lsof", "openssh"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 8000"]

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true
